@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("https://fonts.googleapis.com/css2?family=JetBrains+Mono:ital,wght@0,100..800;1,100..800&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --primary-col: #3a8dff;

  --text-main-col: #333333;
  --text-sub-col: #666666;

  --bg-main-col: #f7f7f7;
  --bg-sub-col: #efefef;

  body {
    background-color: var(--bg-main-col);
    color: var(--text-main-col);
    transition: 300ms background-color ease-in-out;
  }
}

@media (prefers-color-scheme: dark) {
  :root {
    --primary-col: #69afff;

    --text-main-col: #dddddd;
    --text-sub-col: #efefef;
    /* --text-sub-col: #bbbbbb; */

    --bg-main-col: #1a1a1a;
    --bg-sub-col: #2e2e2e;
  }
}

#tagline::before {
  content: "—";
  margin: auto 5px;
}

/* some footer styles */
footer {
  .footer-link {
    color: var(--secondary-text);
    svg {
      fill: var(--secondary-text);
    }
  }
  .footer-link:hover {
    color: var(--secondary-extra-text);
    svg {
      fill: var(--secondary-extra-text);
    }
    /* This is the only place where we are currently using the --secondary-extra-text */
  }
}

#blog-content {
  margin: 0 0 10rem 0;
  font-size: 1.5rem;
}
.blog-heading1 {
  font-size: 2.5rem;
  font-weight: 600;
  color: var(--text-main-col);
  margin-bottom: 3.5rem;
}
.blog-heading2 {
  font-size: 1.8rem;
  font-weight: 500;
  color: var(--text-main-col);
}
.blog-para {
  margin-top: 3rem;
  letter-spacing: 0.6px;
  word-spacing: 0.15rem;
  line-height: 2.2rem;
  color: var(--text-sub-col);
}
.blog-anchor {
  text-decoration: none;
  color: var(--primary-col);
  word-spacing: 0rem;
}
.blog-heading > .blog-heading-anchor {
  color: inherit;
}
.blog-anchor:hover {
  text-decoration: underline;
}
.blog-em {
  font-size: 1.1em;
}
.blog-strong {
  font-weight: 700;
}
.blog-codespan {
  background-color: var(--bg-sub-col);
  padding: 0px 6px;
  margin: 0 2px;
  border-radius: 5px;
  color: var(--primary-col);
}
.blog-codeblock {
  border: none;
  border-radius: 6px;
  background-color: var(--bg-sub-col);
  padding: 1rem 1.5rem;
  margin: 3rem 0 1rem;
}
.blog-ol {
  list-style: decimal;
  margin: 4rem 0 0;
  color: var(--text-sub-col);
}
.blog-ul {
  margin: 4rem 0 0;
  color: var(--text-sub-col);
  list-style: disc;
  word-spacing: 0.15rem;
  .blog-ul {
    margin: 0.4rem 0 0.3rem;
    margin-left: 2rem;
    list-style: circle;
    .blog-ul {
      list-style: disc;
    }
  }
}
.blog-list-item {
  padding-left: 6px;
}
.blog-checkbox {
  width: 16px;
  height: 16px;
}

/* highlight.js */
pre code.hljs {
  display: block;
  overflow-x: auto;
  padding: 1em;
}
code.hljs {
  padding: 3px 5px;
}
:root {
  .hljs {
    color: #24292e;
    background: #ffffff;
  }
  .hljs-doctag,
  .hljs-keyword,
  .hljs-meta .hljs-keyword,
  .hljs-template-tag,
  .hljs-template-variable,
  .hljs-type,
  .hljs-variable.language_ {
    /* prettylights-syntax-keyword */
    color: #d73a49;
  }
  .hljs-title,
  .hljs-title.class_,
  .hljs-title.class_.inherited__,
  .hljs-title.function_ {
    /* prettylights-syntax-entity */
    color: #6f42c1;
  }
  .hljs-attr,
  .hljs-attribute,
  .hljs-literal,
  .hljs-meta,
  .hljs-number,
  .hljs-operator,
  .hljs-variable,
  .hljs-selector-attr,
  .hljs-selector-class,
  .hljs-selector-id {
    /* prettylights-syntax-constant */
    color: #005cc5;
  }
  .hljs-regexp,
  .hljs-string,
  .hljs-meta .hljs-string {
    /* prettylights-syntax-string */
    color: #032f62;
  }
  .hljs-built_in,
  .hljs-symbol {
    /* prettylights-syntax-variable */
    color: #e36209;
  }
  .hljs-comment,
  .hljs-code,
  .hljs-formula {
    /* prettylights-syntax-comment */
    color: #6a737d;
  }
  .hljs-name,
  .hljs-quote,
  .hljs-selector-tag,
  .hljs-selector-pseudo {
    /* prettylights-syntax-entity-tag */
    color: #22863a;
  }
  .hljs-subst {
    /* prettylights-syntax-storage-modifier-import */
    color: #24292e;
  }
  .hljs-section {
    /* prettylights-syntax-markup-heading */
    color: #005cc5;
    font-weight: bold;
  }
  .hljs-bullet {
    /* prettylights-syntax-markup-list */
    color: #735c0f;
  }
  .hljs-emphasis {
    /* prettylights-syntax-markup-italic */
    color: #24292e;
    font-style: italic;
  }
  .hljs-strong {
    /* prettylights-syntax-markup-bold */
    color: #24292e;
    font-weight: bold;
  }
  .hljs-addition {
    /* prettylights-syntax-markup-inserted */
    color: #22863a;
    background-color: #f0fff4;
  }
  .hljs-deletion {
    /* prettylights-syntax-markup-deleted */
    color: #b31d28;
    background-color: #ffeef0;
  }
  .hljs-char.escape_,
  .hljs-link,
  .hljs-params,
  .hljs-property,
  .hljs-punctuation,
  .hljs-tag {
    /* purposely ignored */
  }
  @media (prefers-color-scheme: dark) {
    .hljs {
      color: #c9d1d9;
      background: #0d1117;
    }
    .hljs-doctag,
    .hljs-keyword,
    .hljs-meta .hljs-keyword,
    .hljs-template-tag,
    .hljs-template-variable,
    .hljs-type,
    .hljs-variable.language_ {
      /* prettylights-syntax-keyword */
      color: #ff7b72;
    }
    .hljs-title,
    .hljs-title.class_,
    .hljs-title.class_.inherited__,
    .hljs-title.function_ {
      /* prettylights-syntax-entity */
      color: #d2a8ff;
    }
    .hljs-attr,
    .hljs-attribute,
    .hljs-literal,
    .hljs-meta,
    .hljs-number,
    .hljs-operator,
    .hljs-variable,
    .hljs-selector-attr,
    .hljs-selector-class,
    .hljs-selector-id {
      /* prettylights-syntax-constant */
      color: #79c0ff;
    }
    .hljs-regexp,
    .hljs-string,
    .hljs-meta .hljs-string {
      /* prettylights-syntax-string */
      color: #a5d6ff;
    }
    .hljs-built_in,
    .hljs-symbol {
      /* prettylights-syntax-variable */
      color: #ffa657;
    }
    .hljs-comment,
    .hljs-code,
    .hljs-formula {
      /* prettylights-syntax-comment */
      color: #8b949e;
    }
    .hljs-name,
    .hljs-quote,
    .hljs-selector-tag,
    .hljs-selector-pseudo {
      /* prettylights-syntax-entity-tag */
      color: #7ee787;
    }
    .hljs-subst {
      /* prettylights-syntax-storage-modifier-import */
      color: #c9d1d9;
    }
    .hljs-section {
      /* prettylights-syntax-markup-heading */
      color: #1f6feb;
      font-weight: bold;
    }
    .hljs-bullet {
      /* prettylights-syntax-markup-list */
      color: #f2cc60;
    }
    .hljs-emphasis {
      /* prettylights-syntax-markup-italic */
      color: #c9d1d9;
      font-style: italic;
    }
    .hljs-strong {
      /* prettylights-syntax-markup-bold */
      color: #c9d1d9;
      font-weight: bold;
    }
    .hljs-addition {
      /* prettylights-syntax-markup-inserted */
      color: #aff5b4;
      background-color: #033a16;
    }
    .hljs-deletion {
      /* prettylights-syntax-markup-deleted */
      color: #ffdcd7;
      background-color: #67060c;
    }
    .hljs-char.escape_,
    .hljs-link,
    .hljs-params,
    .hljs-property,
    .hljs-punctuation,
    .hljs-tag {
      /* purposely ignored */
    }
  }
}

/* The scroll bar */
html::-webkit-scrollbar {
  width: 12px;
}
html::-webkit-scrollbar-track {
  background: var(--primary-bg);
}
html::-webkit-scrollbar-thumb {
  background: var(--dim-text);
  margin: 2px;
}
