@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("https://fonts.googleapis.com/css2?family=JetBrains+Mono:ital,wght@0,100..800;1,100..800&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --primary-col: #3a8dff;

  --text-main-col: #333333;
  --text-sub-col: #666666;

  --bg-main-col: #f7f7f7;
  --bg-sub-col: #efefef;

  body {
    background-color: var(--bg-main-col);
    color: var(--text-main-col);
    transition: 300ms background-color ease-in-out;
  }
}

@media (prefers-color-scheme: dark) {
  :root {
    --primary-col: #69afff;

    --text-main-col: #dddddd;
    --text-sub-col: #efefef;
    /* --text-sub-col: #bbbbbb; */

    --bg-main-col: #1a1a1a;
    --bg-sub-col: #2e2e2e;
  }
}

#tagline::before {
  content: "—";
  margin: auto 5px;
}

/* some footer styles */
footer {
  .footer-link {
    color: var(--secondary-text);
    svg {
      fill: var(--secondary-text);
    }
  }
  .footer-link:hover {
    color: var(--secondary-extra-text);
    svg {
      fill: var(--secondary-extra-text);
    }
    /* This is the only place where we are currently using the --secondary-extra-text */
  }
}

/* The scroll bar */
html::-webkit-scrollbar {
  width: 12px;
}
html::-webkit-scrollbar-track {
  background: var(--primary-bg);
}
html::-webkit-scrollbar-thumb {
  background: var(--dim-text);
  margin: 2px;
}
