@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("https://fonts.googleapis.com/css2?family=JetBrains+Mono:ital,wght@0,100..800;1,100..800&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* light mode */
:root {
  --primary-col: #3a8dff;

  --bg-level-1: #f7f7f7;
  --bg-level-2: #ebebeb;
  --bg-level-3: #d6d6d6;
  --bg-level-4: #c2c2c2;

  --text-level-1: #1f1f1f;
  --text-level-2: #292929;
  --text-level-3: #3d3d3d;
  --text-level-4: #525252;

  body {
    background-color: var(--bg-level-1);
    color: var(--text-level-1);
    transition: 300ms background-color ease-in-out;
  }
}

@media (prefers-color-scheme: dark) {
  :root {
    --primary-col: #69afff;

    --bg-level-1: #1a1a1a;
    --bg-level-2: #292929;
    --bg-level-3: #333333;
    --bg-level-4: #3d3d3d;

    --text-level-1: #efefef;
    --text-level-2: #d6d6d6;
    --text-level-3: #b8b8b8;
    --text-level-4: #999999;
  }
}

/* some footer styles */
footer {
  .footer-link {
    color: var(--secondary-text);
    svg {
      fill: var(--secondary-text);
    }
  }
  .footer-link:hover {
    color: var(--secondary-extra-text);
    svg {
      fill: var(--secondary-extra-text);
    }
    /* This is the only place where we are currently using the --secondary-extra-text */
  }
}

/* The scroll bar */
html::-webkit-scrollbar {
  width: 12px;
}
html::-webkit-scrollbar-track {
  background: var(--primary-bg);
}
html::-webkit-scrollbar-thumb {
  background: var(--dim-text);
  margin: 2px;
}
